<nb-card>
  <h1>Statistiques</h1>
</nb-card>

<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Nombre d'animaux en fonction du type d'animal</nb-card-header>
      <nb-card-body>
        <ngx-d3-pie></ngx-d3-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Nombre d'animaux en fonction du type d'animal</nb-card-header>
      <nb-card-body>
        <ngx-d3-bar></ngx-d3-bar>
      </nb-card-body>
    </nb-card>
  </div>
</div>